@use '../../../../styles/variables' as *;

.agreement-details {
  padding: $spacing-lg;
}

/* Responsywność */
@media (max-width: $bp-xl) {
  .main-header {
    flex-direction: column;
    align-items: flex-start !important;
  }

  .main-header-buttons {
    margin-top: $spacing-sm;
    width: 100%;
  }

  .main-header-buttons button {
    width: 100%;
    margin-bottom: $spacing-sm;
  }
}
