.mat-mdc-row:hover {
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  cursor: pointer;
}
.mat-mdc-row {
  cursor: pointer;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
}
