:host ::ng-deep {
  .flex__container {
    display: flex;
    gap: 2rem;
  }
  .example-full-width {
    width: 100%;
  }
  // mat-form-field:hover {
  //   & label:not(.mdc-floating-label--float-above) > mat-label,span {
  //     color: red !important;
  //     position: relative;
  //     //left: -100px;
  //     animation-duration: 2s;
  //     animation-name: moveLabel;
  //    }
  // }
  .text-class {
    &:hover {
      position: relative;
      animation-duration: 2s;
      animation-name: moveLabel;
    }
  }
}

@keyframes moveLabel {
  0% {
    left: 0px;
  }
  100% {
    left: -100px;
  }
}
