<mat-form-field>
  <mat-label>{{ label }}</mat-label>
  <mat-select [formControl]="valueControl">
    <mat-option [value]="null" />
    @for (state of mappedValues; track state.value) {
      <mat-option [value]="state.value">
        @if (usePipe && pipeModule) {
          <ng-container>
            {{ state.viewData | databaseTranslation: pipeModule }}
          </ng-container>
        } @else {
          <ng-template> {{ state.viewData }}</ng-template>
        }
      </mat-option>
    }
  </mat-select>
  <mat-error>
    <crm-errors [control]="valueControl" />
  </mat-error>
</mat-form-field>
