<mat-form-field class="example-full-width">
  <mat-label>{{ label() }}</mat-label>
  <input
    crm-parse-value-input
    matInput
    type="text"
    [dataVariable]="'value'"
    [formControl]="inputFormControl"
    [matAutocomplete]="auto" />
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="handle($event)">
    @for (option of options | async; track option.viewData) {
      <mat-option [disabled]="isDisabled(option)" [value]="option.controlData">
        {{ option.viewData }}
      </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
@if (ControlArrays.length) {
  <div>Selected :</div>
}
@for (control of ControlArrays; let i = $index; track i) {
  <div class="list">
    <span>{{ control.value.value }} </span>

    <mat-icon (click)="remove(i)">cancel</mat-icon>
  </div>
}
