<div class="auth-container">
  <mat-card class="auth-card">
    <mat-card-header>
      <mat-card-title>
        <div class="auth-header">
          <mat-icon class="auth-icon">admin_panel_settings</mat-icon>
          <h1>Admin panel</h1>
        </div>
      </mat-card-title>
      <mat-card-subtitle class="d-flex justify-content-center">Sign in to your account</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form class="auth-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <app-text-input
          formControlName="identifier"
          icon="person"
          label="Email or Username"
          placeholder="Enter your email or username"
          [inputValidation]="loginValidators.login"

          />

        <app-text-input
          formControlName="password"
          inputType="password"
          label="Password"
          placeholder="Enter your password" 
          [inputValidation]="loginValidators.password"
          />

        <button
          class="full-width auth-button"
          color="primary"
          mat-raised-button
          type="submit"
          [disabled]="loginForm.invalid || isLoading()">
          @if (isLoading()) {
            <mat-spinner diameter="20"></mat-spinner>
          }
          @if (!isLoading()) {
            <span>Sign In</span>
          }
        </button>
      </form>
       <crm-generic-edit
        [formGroup]="group"
        [genericEditInfo]="genericEditDefinition"
      ></crm-generic-edit>
    </mat-card-content>

    <mat-card-actions class="auth-actions">
      <p>
        Don't have an account?
        <a routerLink="/auth/register" class="auth-link">Sign up</a>
      </p>
    </mat-card-actions>
  </mat-card>
</div>
