<div class="auth-container">
  <mat-card class="auth-card">
    <mat-card-header>
      <mat-card-title>
        <div class="auth-header">
          <mat-icon class="auth-icon">admin_panel_settings</mat-icon>
          <h1>Admin panel</h1>
        </div>
      </mat-card-title>
      <mat-card-subtitle>Sign in to your account</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form class="auth-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <app-text-input 
          formControlName="identifier"
         icon="person"
         label="Email or Username" 
         placeholder="Enter your email or username"
         [errorsMap]="{'required': 'Email or username is required'}"
         />

         <app-text-input
          formControlName="password"
          inputType="password"
          label="Password"
          placeholder="Enter your password"
         />

        <!-- <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input formControlName="password" matInput placeholder="Enter your password" [type]="passwordType()" />
          <button
            mat-icon-button
            matSuffix
            type="button"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword()"
            (click)="passwordHide()">
            <mat-icon>{{ passwordIcon() }}</mat-icon>
          </button>
          @if (loginForm.get('password')?.hasError('required')) {
            <mat-error> Password is required </mat-error>
          }
        </mat-form-field> -->

        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="full-width auth-button"
          [disabled]="loginForm.invalid || isLoading()">
          @if (isLoading()) {
            <mat-spinner diameter="20"></mat-spinner>
          }
          @if (!isLoading()) {
            <span>Sign In</span>
          }
        </button>
      </form>
    </mat-card-content>

    <mat-card-actions class="auth-actions">
      <p>
        Don't have an account?
        <a routerLink="/auth/register" class="auth-link">Sign up</a>
      </p>
    </mat-card-actions>
  </mat-card>
</div>
