<mat-form-field appearance="outline" class="full-width">
  <mat-label>{{ label() }}</mat-label>
  <input matInput placeholder="{{ placeholder() }}" [formControl]="control()" [type]="passwordType()" />
  <button
    mat-icon-button
    matSuffix
    type="button"
    [attr.aria-label]="'Hide password'"
    [attr.aria-pressed]="hidePassword()"
    (click)="passwordHide()">
    <mat-icon>{{ passwordIcon() }}</mat-icon>
  </button>
  @if (control().get('password')?.hasError('required')) {
    <mat-error> Password is required </mat-error>
  }
</mat-form-field>