<div class="dashboard-container">
  <!-- Dashboard Content -->
  <div class="dashboard-content">
    <!-- Quick Stats -->
    <div *isAdmin class="stats-section">
      <h3>Quick Overview</h3>
      @if(statistics){
        <div class="stats-grid mt-4">
          <mat-card class="stat-card" [routerLink]="'../users'">
            <mat-card-content>
              <div class="stat-item">
                <mat-icon class="stat-icon activities">account_circle</mat-icon>
                <div class="stat-details">
                  <div class="stat-value">{{statistics.totalUsers ?? 0}}</div>
                  <div class="stat-label" >Total users</div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>

          <mat-card class="stat-card">
            <mat-card-content>
              <div class="stat-item">
                <mat-icon class="stat-icon duration">apps</mat-icon>
                <div class="stat-details">
                  <div class="stat-value">{{statistics.totalApps ?? 0}}</div>
                  <div class="stat-label">Total applications</div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>

          <mat-card class="stat-card">
            <mat-card-content>
              <div class="stat-item">
                <mat-icon class="stat-icon calories">handshake</mat-icon>
                <div class="stat-details">
                  <div class="stat-value">{{statistics.totalAgreements ?? 0}}</div>
                  <div class="stat-label">Total Agreements</div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>

          <mat-card class="stat-card">
            <mat-card-content>
              <div class="stat-item">
                <mat-icon class="stat-icon distance">bar_chart</mat-icon>
                <div class="stat-details">
                  <div class="stat-value">{{statistics.charts ?? 0}}</div>
                  <div class="stat-label">Charts</div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      } @else {
        <ng-template #loadingStats>
          <div class="loading-container">
            <mat-spinner diameter="40" />
            <p>Loading statistics...</p>
          </div>
        </ng-template>
      }


    </div>
  </div>
</div>