<div class="dashboard-container">
  <app-toolbar></app-toolbar>

  <!-- Dashboard Content -->
  <div class="dashboard-content">
    <!-- Quick Stats -->
    <div class="stats-section" *isAdmin>
      <h2>Quick Overview</h2>
      @if(statistics){
        <div class="stats-grid mt-4">
          <mat-card class="stat-card">
            <mat-card-content>
              <div class="stat-item">
                <mat-icon class="stat-icon activities">account_circle</mat-icon>
                <div class="stat-details">
                  <div class="stat-value">{{statistics?.totalUsers || 0}}</div>
                  <div class="stat-label">Total userrs</div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>

          <mat-card class="stat-card">
            <mat-card-content>
              <div class="stat-item">
                <mat-icon class="stat-icon duration">apps</mat-icon>
                <div class="stat-details">
                  <div class="stat-value">{{statistics?.totalApps || 0}}</div>
                  <div class="stat-label">Total applications</div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>

          <mat-card class="stat-card">
            <mat-card-content>
              <div class="stat-item">
                <mat-icon class="stat-icon calories">local_fire_department</mat-icon>
                <div class="stat-details">
                  <div class="stat-value">{{overviewData?.totalCalories || 0}}</div>
                  <div class="stat-label">Total Calories</div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>

          <mat-card class="stat-card">
            <mat-card-content>
              <div class="stat-item">
                <mat-icon class="stat-icon distance">map</mat-icon>
                <div class="stat-details">
                  <div class="stat-value">{{overviewData?.totalDistance || 0}} km</div>
                  <div class="stat-label">Total Distance</div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      } @else {
        <ng-template #loadingStats>
          <div class="loading-container">
            <mat-spinner diameter="40"></mat-spinner>
            <p>Loading statistics...</p>
          </div>
        </ng-template>
      }


    </div>
  </div>
</div>