<app-page-header>
  <div class="main-header">
    <h1>Projekty</h1>
  </div>
  <div class="main-header-buttons">
    <button mat-raised-button color="primary" (click)="onAdd()">
      <mat-icon>add</mat-icon>
      Nowy projekt
    </button>
  </div>
</app-page-header>

<app-main-page-view>
  <div class="list-container">
    <!-- Filtry -->
    <app-project-filters
      [filterName]="filterName()"
      [filterStatus]="filterStatus()"
      [statuses]="statuses"
      (filterNameChange)="filterName.set($event); applyFilters()"
      (filterStatusChange)="filterStatus.set($event); applyFilters()"
      (clearFilters)="clearFilters()" />

    <!-- Tabela projektów -->
    <mat-card>
      <mat-card-content>
        <app-project-table
          [dataSource]="dataSource()"
          [displayedColumns]="displayedColumns"
          (viewDetails)="onEdit($event)"
          (edit)="onEdit($event)" />
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]" showFirstLastButtons></mat-paginator>
      </mat-card-content>
    </mat-card>
  </div>
</app-main-page-view>
